body {
  padding-top: 50px;
  margin-bottom: 30px;
}
.header {
  padding: 20px 15px;
  text-align: center;
}
.szukajka {
  text-align: center;
}
.input-group  {
	padding: 3px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  text-align: center;
}